@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type="range"] {
  width: 100%;
  height: 2px;
  margin: 1rem auto;
}

datalist {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  z-index: 100;
  top: 0;

  background-color: black;
  border-bottom: 1px solid white;
  padding: 1rem;
  font-size: 1rem;
}

#cart-count{
  position: absolute;
    top: 11px;
    margin-left: 5px;
    /* left: -1px; */
    background-color: red;
    color: white;
    width: 17px;
    border-radius: 50%;
    text-align: center;
}

nav .brand {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-items a {
  margin: 0 1rem;
}


/* main */


main #my-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 0px;
  font-size: 55px;
  font-weight: 600;
}

main #main-cart{
  display: flex;
}


main .items {
  display: flex;
  width: 68%;
  flex-wrap: wrap;
  /* padding: 1rem 0rem; */
  gap: 1rem;
  margin: 30px 25px;
}

main .items .item {
  flex-basis: calc(32.33% - 10px);
  border: 1px solid black;
  width: 30%;
}

main .items .item img {
  max-width: 100%;
}

main .items .item .row {
  display: flex;
  justify-content: space-between;
}

main .items .item .info {
  padding: 1rem;
}

main .items .item button {
  width: 100%;
  border-radius: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  cursor: pointer;
}

main .items .item .colors {
  display: flex;
  margin: 1rem 0;
}

main .items .item .circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 5px;
}

/* checkout styling */

#checkout-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 25px;
  font-weight: 500;
}

#checkout-list{
  background-color: black;
    color: white;
    width: 27%;
    height: max-content;
    margin: 30px 0px;
}
#checkout-list .checkout-items{
  display: flex;
  justify-content: space-between;
  margin: 15px;
  /* width: 100%; */
}

.checkout-items .checkout-title{
  /* width: 80%; */
}
.checkout-items .checkout-price{
  /* width: 20%; */
}

#checkout-list .checkout-total-div{
  border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 30px;
    font-weight: 600;
}

.checkout-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px 0px;

}
.checkout-btn button{
  width: 80%;
  align-self: center;
  height: 33px;
  border: none;
  cursor: pointer;
  font-size: 20px;

}